<div class="well navbar  navbar-fixed-top">
<!--<div class="navbar-inner ">-->
<a id="abcdef" class="brand" href="#" style="font-size:28px">&nbsp; BOLT</a>
<ul class="nav nav-pills pull-right">
<li class=<%= activeClass.dashboard %>><a href="/dashboard"><i class=icon-home></i> DashBoard</a></li>
<li class=<%= activeClass.report %>><a href="/reports"><i class=icon-list-alt></i> Test Reports</a></li>
<li class=<%= activeClass.createTest %>><a href="/createtest"><i class=icon-plus-sign></i> Create Test</a></li>
</ul>
<!--</div>-->
</div>
