<div class="well navbar  navbar-fixed-top">
<div class="navbar-inner navbar-inverse">
<a class="brand" href="#">&nbsp; BOLT</a>
<ul class="nav pull-right">
<li class=<%= activeClass.dashboard %>><a href="/dashboard">DashBoard</a></li>
<li class=<%= activeClass.report %>><a href="/reports">Test Reports</a></li>
<li class=<%= activeClass.createTest %>><a href="/abtest">Create Test</a></li>
</ul>
</div>
</div>
