<!DOCTYPE html>
<html lang="en">
<head>
	<title>title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="noindex,nofollow" />
	
	<link href="/styles/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="/styles/style.css" rel="stylesheet" media="screen" />
	<script type="text/javascript" src="/js/jq.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/socket.io.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	
	
</head>

<body>
	<%- partial('header') %>
<div class="container">
		<h3 class="span6">Start System Matrics Test</h3>
		<div class="well span7">
			<form class="form-horizontal" id="frmTest">
				<div class="control-group">
					<label class="control-label" for="">Test Type</label>
					<div class="controls controls-row">
						<input type="text" name="test_type" class="span3" value="System matric" readonly = "true" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="">Test Name</label>
					<div class="controls">
						<input type="text" name="tname" class="span3" value="" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="">Description</label>
					<div class="controls">
						<input type="text" name="description" class="span3" value="" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="">Host name</label>
					<div class="controls">
						<input type="text" name="description" class="span3" value="" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="">Port</label>
					<div class="controls">
						<input type="text" name="description" class="span3" value="" />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="">Path</label>
					<div class="controls">
						<input type="text" name="description" class="span3" value="" />
					</div>
				</div>
			
		
				<div class="">
					<button type="submit" class="btn btn-primary pull-right">Start</button>
					<!--a href="#" target="_blank" id="viewReport" class="btn btn-link hidden">View Report</a-->
				</div>
		</form>
		<!--<div class="well pull-right" id="progress">
			<h5>Status:</h5>
			<hr />
			<div id="status"></div>
		</div> -->
	</div>
	</div>
	<%- partial('footer') %>
	</body>
</html>
