<html>
<div class="container">  
<ul class="thumbnails">  
        <li class="span5">  
          <div class="thumbnail">  
            <div class="caption">  
              <h3 align="center">A/B Test</h3>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore       magna aliqua.</p>  
              <p align="center"><a href="/abtest1" class="btn medium" >Create A/B Test</a></p>  
            </div>  
          </div>  
        </li>  
        <li class="span5">  
          <div class="thumbnail">  
            <div class="caption">  
              <h3 align="center">Start System Matrix Test</h3>  
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>  
               <p align="center"><a href="system_matrix" class="btn medium">Create System Matrix Test</a></p> 
            </div>  
          </div>  
        </li>  
      </ul>  
  
      <hr>  
  
</body>  
</html>  
