<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Create Test</title>

<style>
 body,
    html {
    margin:0;
    padding:0;
    }

.top-buffer { margin-top:20px; }

h1{ color:white; }

.text-center{ text-align: center; }

</style>
<link href="/styles/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="/styles/style.css" rel="stylesheet" media="screen" />
	<script type="text/javascript" src="/js/jq.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/socket.io.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

  </head>

  <body>
<div class="container target">
    <div class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav navbar-right">
            <li class=""><a class="" href="#">Account</a>

            </li>
            <li><a class="" href="#">Settings</a>

            </li>
        </ul>
        <table class="">
            <tbody>
                <tr>
                    <td>
                        <img src="//placehold.it/150x150" class="">
                    </td>
                    <td>
                      <h1 class=""><p>&nbsp;&nbsp;Project Name</p></h1>

                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container top-buffer">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="" href="#">Dashboard</a>

                    </li>
                    <li class="active dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tests <b class="caret"></b></a>

                        <ul class="dropdown-menu">
                            <li><a class="" href="#">Action</a>

                            </li>
                            <li><a class="" href="#">Another action</a>

                            </li>
                            <li><a class="" href="#">Something else here</a>

                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a class="" href="#">Separated link</a>

                            </li>
                            <li><a class="" href="#">One more separated link</a>

                            </li>
                </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>

                    <ul class="dropdown-menu">
                        <li><a class="" href="#">Action</a>

                        </li>
                        <li><a class="" href="#">Another action</a>

                        </li>
                        <li><a class="" href="#">Something else here</a>

                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a class="" href="#">Separated link</a>

                        </li>
                        <li><a class="" href="#">One more separated link</a>

                        </li>
                        </ul>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9 top-buffer">
        <div class="row ">

<ul class="nav nav-tabs">
  <li class="active"><a href="#">Step 1</a></li>
  <li><a href="#">Step 2</a></li>
  <li><a href="#">Step 3</a></li>
</ul>
	
	<h4 class="top-buffer">Select Test Type:</h4>

<div class="list-group">
  <a href="abtest.html" class="list-group-item">
    <h4 class="list-group-item-heading">A/B Test</h4>
    <p class="list-group-item-text">some description about the test</p>
  </a></div>
            <!--/span-->




     <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Test 1</h4>
    <p class="list-group-item-text">some description about the test</p>
  </a></div>
            <!--/span-->


     <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Test 2</h4>
    <p class="list-group-item-text">some description about the test</p>
  </a></div>
            <!--/span-->
        </div>


        <div class="jumbotron top-buffer">previous tests conducted list </div>
    </div>
    <!-- <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
        <div class="jumbotron ">Stauses</div>
    </div> -->
</div>


  </body>
</html>
