div#divQ {
	width: 600px;
}

#progress {
	width: 300px;
	min-height: 200px;
	max-height: 418px;
	overflow: auto;
}

#report {
	
	font-weight: bold;
	text-decoration: underline;
}

.table td {
	vertical-align: middle;
}

.table .icon-plus {
	cursor: pointer;
}

.table th, .table td {
	text-align: center;
}

.table .close {
	float: none;
}

#progress dl {
	margin: 2px 0;
}

#progress dl dt {
	width: 75px;
	text-align: left;
}

#progress dl dd {
	width: auto;
	margin-left: 75px;
}


div.table-body {
	max-height: 150px;
	overflow: auto;
}

div.table-head {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

div.table-head .table {
	margin: -48px 0 0 0;
}

.table-head .tr-hide {
	visibility: hidden;
}

hr {
	margin: 10px 0;
}

.mr20 {
	margin-right: 10px;
}

.hidden {
	display: none;
}

#status {
	white-space: pre;
	font-size: 85%;
}
body { padding-top: 80px; }

.navbar {
	background-color: #7F462C;
}
ul.nav {
	font-size: 15px;
	
}
.navbar .nav > li > a {
	color:black;
	text-shadow:none;
}
.brand {
	font-size: 28px;
}
.container {
	margin-top: 60px;
}
.thumbnail {
	height: 250px;
}
.leftpanel {
	float: left;
	width: 25%;
	height: 200px;
	margin-top: 30px;
	#border:2px solid;
	border-color:#f7f7f7;
	margin-left: 20px;
	font-size: 18px;
	color: #0B578F;
}

.status {
	font-size:13px;
	color:#111111;
}
